@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(187, 187, 187);
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}

h2{
    margin: 10px 0 20px;
    text-align: center;
}

.container{
    background-color: darkgray;
    box-shadow: 0px 2px 10px rgb(255, 255, 0.2);
    padding: 20px;
    width: 350px;
    max-width: 100%;
}

.result-container {
    background-color: rgb(0, 0, 0);
}